html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../img/BG.png);
    background-repeat: repeat;
    background-size: cover;   
}

section {
    display: flex;
    flex-wrap: wrap;
    max-width: 615px;    
    padding: 94px 92px;
    margin: auto;
}

article {
    display: flex;
    padding-top: 10px;
    min-width: 205px;
    height: 205px;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.article_1 {
    background-color: #06b3db;
}

.article_2 {
    background-color: #4ed486;
}

.article_3 {
    background-color: #6139f6;
}

.article_4 {
    background-color: #e3b63d;
}

.article_5 {
    background-color: #dc3d66;
}

.article_6 {
    background-color: #bd54cd;
}

img {
    margin: 0 auto;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 11.52px;
    text-shadow: 0px 1px 0px rgba(6, 179, 219, 0.75);
}

.CWM {
    margin-top: 15px;
    margin-bottom: 14px;
}

.wrap-table {
    background-color: #bd3559;
    padding-top: 15px;
    padding-bottom: 11px;
    
}

table {
    width: 165px;
    height: 75px;
    margin: 0 auto;
    border-collapse: collapse;
    box-sizing: border-box;
}

th,
td {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}